<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>{{cname}} Sales: Report</title>
  <meta name="description" content="{{cname}} Sales Report">
  <meta name="author" content="{{cname}} Sales">

  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

  <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>
  
  <link rel="icon" type="image/png" href="{{url_for('static', filename='img/favicon.ico')}}">
</head>
<body>
  <div class="container-fluid bg-dark pt2 pb2 mb8" id="header">
    <div class="container pt2 pb2">
      <br>
      <h2><a href="/">{{cname}} Sales</a> : Report</h2>
      <p><i>Report for {{ filename }}</i></p>
      <br>
    </div>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">ASIN</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0, report_data['asin'] | length) %}
      <tr>
        <th scope="col"><a href="https://amazon.com/dp/{{report_data['asin'][i]}}" target="_blank">{{report_data['product-name'][i]}}</a></th>
        <th scope="col">{{report_data['asin'][i]}}</th>
        <th>{{report_data['item-price'][i]}}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
